/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Layerss

#define DEFAULT 0
#define NAV 1
#define NUM 2
#define FKEYS 3
#define FKEYS2 4
#define GAME 5
#define SMASH 6

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hplt: hold_preferred-lt {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_PREFERRED_LT";
            #binding-cells = <2>;
            tapping-term-ms = <195>;
            quick-tap-ms = <0>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;
        };

        hms: homerow_mod_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MOD_SHIFT";
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        copy {
            bindings = <&kp LG(C)>;
            key-positions = <12 13>;
        };

        paste {
            bindings = <&kp LG(V)>;
            key-positions = <13 14>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp Q          &kp W         &kp E       &kp R        &kp T            &kp Y         &kp U         &kp I       &kp O         &kp P
&hm LSHFT A    &hms LCTRL S  &hm LALT D  &hm LGUI F   &kp G            &kp H         &hm LGUI J    &hm LALT K  &hms RCTRL L  &hm RSHFT SEMI
&kp Z          &kp X         &kp C       &kp V        &kp B            &bt BT_SEL 0  &bt BT_SEL 1  &kp N       &kp M         &kp COMMA       &kp DOT  &kp FSLH
&kp LG(LA(G))  &hplt 2 TAB   &kp SPACE   &lt 3 ENTER  &lt 1 LG(LA(G))  &kp BSPC
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp DOWN UP>;
        };

        NAV {
            bindings = <
&kp SLASH        &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp MINUS  &kp LEFT_BRACKET  &kp A                 &kp A         &kp A     &kp RIGHT_BRACKET
&kp ASTERISK     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp PLUS   &kp LEFT_BRACE    &kp LEFT_PARENTHESIS  &kp UP        &kp RPAR  &kp RIGHT_BRACE
&kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp DOT    &none             &bt BT_CLR            &kp LA(LEFT)  &kp LEFT  &kp DOWN           &kp RIGHT  &kp LA(RIGHT_ARROW)
&none            &kp KP_COMMA     &kp KP_EQUAL     &none            &none      &kp DEL
            >;
        };

        NUM {
            bindings = <
&none   &kp N7   &kp N8   &kp N9  &none  &none  &kp AT      &kp HASH    &kp TILDE  &none
&none   &kp N4   &kp N5   &kp N6  &none  &none  &kp PLUS    &kp MINUS   &kp STAR   &kp PRCNT
&kp N0  &kp N1   &kp N2   &kp N3  &none  &none  &bt BT_PRV  &bt BT_NXT  &kp L      &kp COMMA  &kp DOT  &kp FSLH
&none   &kp RET  &kp RET  &none   &none  &none
            >;
        };

        Android {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
